O09CTQ_0928/BM_konyv.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT konyvek (konyv)*>
<!ELEMENT konyv (cime, ev, kiado, szerzo+, abstract?)>
            <!ATTLIST konyv ID CDATA #REQUIRED>
            <!ELEMENT cime (#PCDATA)>
            <!ELEMENT ev (#PCDATA)>
            <!ELEMENT kiado (#PCDATA)>
            <!ELEMENT szerzo (#PCDATA)>
            


  