O09CTQ_0928/BM_orarend.dtd

<!ELEMENT orarend (ora*)>
    <!ELEMENT ora (targy, idopont, helyszin, oktato, szak)>
        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT idopont (nap, tol, ig)>   
                <!ELEMENT nap (#PCDATA)>
                <!ELEMENT tol (#PCDATA)>
                <!ELEMENT ig (#PCDATA)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT okatato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
        <!ATTLIST ora id CDATA #REQUIRED>
        <!ATTLIST ora tipus CDATA #REQUIRED>
