O09CTQ_0928/BM_udvar.dtd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!DOCTYPE udvar [

<!ELEMENT udvar(gazada, kutyva, kakas, tyuk, diszni)>
            <!ATTLIST gazada nev #REQUIRED>
            <!ATTLIST kutya nev #REQUIRED>
            <!ATTLIST kakas nev #REQUIRED>
            <!ATTLIST tyuk nev #REQUIRED>
            <!ATTLIST diszno nev #REQUIRED>
]>